
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 481px) {
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0px;
    font-family: "Raleway";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow:scroll;
    height: auto;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to left,#2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .error-page {
    text-align: center;
  }
  
  .error-page-text {
    color: white;
    font-size: 36px;
    margin-top: 20%;
  }

  .navbar {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .navbar-link {
    text-decoration: none;
    color: white;
    font-size: 22px;
  }

  :hover.navbar-link {
    color: #ffc107;
    text-decoration: underline;
  }
  
  .home-link {
    color: white;
  }

  :hover.home-link {
    color: #ffc107;
    text-decoration: underline;
  }

  .MuiInput-underline:after {
    border-bottom: 2px solid #ffc107 !important;
  }

  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
  }

  .welcome-message {
    font-size: 44px;
    color:white;
  }

  .welcome-text {
    font-size: 34px;
    color:white;
  }

  .form {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    margin-top: 30px;
  }

  .form-signup {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    margin-top: 30px;
    min-width: 30rem;
  }

  .MuiInputBase-input {
    min-width: 30rem!important;
  }

  .alert {
    font: 36px;
    color: crimson;
  }

  .dashboard {
    text-align: center;
    justify-content: center;
    margin-top: 5%;
  }

  .text {
    color: white;
    font-size: 20px;
  }

}

    /* Mobile devices ----------------------------------------------*/
@media only screen 
and (min-width : 280px)
and (max-device-width : 815px) {
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
  }

  html {
    scroll-behavior: smooth;
    cursor:'pointer';
    -webkit-overflow-scrolling:touch;
  }
  
  body {
    margin: 0;
    padding: 0px;
    font-family: "Raleway";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow:scroll;
    height: auto;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to left,#2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .error-page {
    text-align: center;
  }
  
  .error-page-text {
    color: white;
    font-size: 36px;
    margin-top: 20%;
  }

  .navbar {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .navbar-link {
    text-decoration: none;
    color: white;
    font-size: 22px;
  }

  :hover.navbar-link {
    color: #ffc107;
    text-decoration: underline;
  }
  
  .home-link {
    color: white;
  }

  :hover.home-link {
    color: #ffc107;
    text-decoration: underline;
  }

  .MuiInput-underline:after {
    border-bottom: 2px solid #e5f65f !important;
  }

  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
  }

  .welcome-message {
    font-size: 44px;
    color:white;
  }

  .welcome-text {
    font-size: 34px;
    color:white;
  }

  .form {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    margin-top: 30px;
  }


  .form-signup {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    margin-top: 30px;
    min-width: 30rem;
  }

  .MuiInputBase-input {
    min-width: 15rem!important;
  }

  .MuiDialogActions-root {
    width: 15rem !important;
  }

  .MuiDialogContent-root {
    width: 15rem !important;
  }

  .alert {
    font: 36px;
    color: crimson;
    
  }

  .dashboard {
    text-align: center;
    justify-content: center;
    margin-top: 5%;
  }

  .text {
    color: white;
    font-size: 20px;
  }


}
